* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;

    width: 100%;
    height: 100vh;
    max-height: 100%;

    background-color: #1c1c1c
}

header {
    height: 50px;
    background-color: #004953; /* midnight green */
    border-bottom: 3px solid black;

    text-align: center;   
}

h1 {
    line-height: 50px;
}

#gamespace {
    height: calc(100% - 50px); /* offsets the size of the header */
}

/*
    #start-father is "position: relative" because
    https://stackoverflow.com/questions/10487292/position-absolute-but-relative-to-parent
    ABSOLUTE positions itself in relation to the nearest ancestor that 
    has RELATIVE or ABSOLUTE positioning
*/
#start-father {
    height: 100%;
    position: relative;
}

#start-buttons {
    position: absolute;
    border: 1px solid red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.start-btn {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px;

    /*background: linear-gradient(to bottom right, #0a6b78, #004953); */

    cursor: pointer;
    transition: opacity .5s, transform .2s;
    /*animation: 1.2s minimize-start-button infinite;*/
}


@keyframes minimize-start-button {
    
    0% {
        transform: scale(1);       
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        opacity: 100%;
    }

    85% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
        transform: scale(0.2);
    }
}

.start-btn:after {
    z-index: 1;
    content: '';
    position: absolute;
    /*background: linear-gradient(to bottom right, #004953, #0a6b78);*/
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    transition: opacity .5s;
}

.start-btn:hover:after {
    opacity: 0%;
}

.icon-space {
    z-index: 2;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.icon-space-x:after, .icon-space-x:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);


    height: 100%;
    width: 20px;
    background-color: #b43757; /* rose red */
    border-radius: 5px;
}

.icon-space-x:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.icon-space-o:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 75%;
    width: 75%;
    border-radius: 50%;
    border: 20px solid #fdde6c;
}




#gameboard {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "top-left top top-right"
        "mid-left mid mid-right"
        "bot-left bot bot-right";
    justify-items: stretch;
    grid-gap: 10px;
    background-color: white;

    left: 50%;
    top: 50%;
    width: 38%;
    height: 75%;
    transform: translate(-50%, -50%);
}

#gameboard:after {
    position: absolute;
    content: '';
    height: 97%;
    width: 99%;
    left: 0;
    right: 0;
    border: 10px solid #1c1c1c;
    box-sizing: content-box;
}

.boardspace {
    background-color: #1c1c1c;
    transition: background-color .5s;  
}

.boardspace:hover {
    background-color: #242424;
}

#top-left {
    grid-area: top-left;
}

#top {
    grid-area: top;
}

#top-right {
    grid-area: top-right;
}

#mid-left {
    grid-area: mid-left;
}

#mid {
    grid-area: mid;
}

#mid-right {
    grid-area: mid-right;
}

#bot-left {
    grid-area: bot-left;
}

#bot {
    grid-area: bot;
}

#bot-right {
    grid-area: bot-right;
}



